<div class="black_layer"></div>
<div class="content_and_background panorama_page">
  <div class="close_button text_hidden_only" tabindex="4" title="<%= t('pageflow.public.panorama.close') %>">
    <div class="label">
      <%= t('pageflow.public.close') %>
    </div>
  </div>

  <div class="page_background page_background-for_page_with_player_controls">
    <%= background_image_div(configuration, 'fallback_image') %>
    <%= content_tag(:div, class: 'uncropped_media_wrapper iframeWrapper', data: {panorama_url: panorama_url(configuration) }) do %>
    <% end %>
    <%= shadow_div :opacity => configuration['gradient_opacity'] %>
  </div>

  <div class="content">
    <div class="controls" data-role="player_controls">
      <span class="hint"><%= t('pageflow.public.panorama.start') %></span>
      <%= info_box(configuration) %>
      <div class="vjs-control-bar view-control">
        <div class="play_button vjs-controls vjs-default-skin vjs-player">
          <a class="vjs-play-control vjs-play vjs-control" tabindex="4" title="<%= t('pageflow.public.panorama.start') %>"><span></span></a>
        </div>
        <div class="control_bar_text">
          <%= t('pageflow.public.panorama.start') %>
        </div>
      </div>
    </div>

    <div class="scroller">
      <div>
        <div class="content_wrapper">
          <%= page_default_content(page) %>
        </div>
      </div>
    </div>
  </div>
</div>
