<div class="blackLayer"></div>
<div class="content_and_background panorama_page">
  <div class="close_button text_hidden_only" tabindex="4" title="<%= t('pageflow.public.panorama.close') %>">
    <div class="label">
      <%= t('pageflow.public.close') %>
    </div>
  </div>

  <div class="backgroundArea">
    <%= background_image_div(configuration, 'fallback_image') %>
    <%= content_tag(:div, class: 'videoWrapper iframeWrapper', data: {panorama_url: panorama_url(configuration) }) do %>
    <% end %>
    <%= shadow_div :opacity => configuration['gradient_opacity'] %>
  </div>

  <div class="content">
    <div class="controls" data-role="player_controls">
      <span class="hint"><%= t('pageflow.public.panorama.start') %></span>
      <%= info_box(configuration) %>
      <div class="vjs-control-bar view-control">
        <div class="play_button vjs-controls vjs-default-skin vjs-player">
          <a class="vjs-play-control vjs-play vjs-control" tabindex="4" title="<%= t('pageflow.public.panorama.start') %>"><span></span></a>
        </div>
        <div class="control_bar_text">
          <%= t('pageflow.public.panorama.start') %>
        </div>
      </div>
    </div>

    <div class="scroller">
      <div>
        <div class="contentWrapper">
          <div class="page_header">
            <h2>
              <span class="tagline"><%= configuration['tagline'] %></span>
              <span class="title"><%= configuration['title'] %></span>
              <span class="subtitle"><%= configuration['subtitle'] %></span>
              <%= background_image_tag(configuration['fallback_image_id'], {"class" => "print_image"}) %>
            </h2>
          </div>
          <div class="contentText">
            <p><%= raw configuration['text'] %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
